---
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

const auth = Astro.locals.auth();
const viewersResult = await Astro.callAction(
  actions.viewers.getAllViewersWithRatings,
  { sort: "TOTAL_RATINGS_DESC" }
);
const viewers = viewersResult.data;
---

<Layout title="Viewers">
  <div class="container mx-auto p-4 text-white">
    <h1 class="text-4xl font-bold mb-4">Viewers</h1>
    <ul class="space-y-2">
      {
        viewers &&
          viewers.map((viewer) => (
            <li class="bg-gray-800 rounded-lg hover:bg-gray-700 transition duration-300">
              <a
                href={
                  //  @ts-expect-error
                  `/viewers/${viewer.id}`
                }
                class="block p-4 text-lg font-semibold text-blue-400 hover:text-blue-300"
              >
                <p>
                  {
                    //  @ts-expect-error
                    viewer.name
                  }
                  {
                    //  @ts-expect-error
                    viewer.clerkId === auth.userId && <span> (you)</span>
                  }
                  {viewer.ratings.length > 0
                    ? ` (${viewer.ratings.length} ratings)`
                    : ""}
                </p>
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</Layout>
