---

---

<header
  class="bg-slate-800 text-white fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
  <div class="mx-auto flex items-center justify-start p-4">
    <button
      class="p-2
      text-gray-600
      rounded
      cursor-pointer
      lg:hidden
      hover:text-gray-900
      hover:bg-gray-100
      focus:bg-gray-100
      dark:focus:bg-gray-700
      focus:ring-2
      focus:ring-gray-100
      dark:focus:ring-gray-700
      dark:text-gray-400
      dark:hover:bg-gray-700
      dark:hover:text-white"
      id="toggleSidebarMobile"
    >
      <!-- button emoji -->
      🔘
    </button>
    <a
      href="/"
      class="flex flex-row
      items-center
      space-x-2
      text-white
      dark:text-gray-200
      text-3xl
      font-black"
    >
      <span>🎥</span>
      <h1>movie night</h1>
    </a>
  </div>
</header>
