---
import { TheList } from "@components/Tables/TheList";
import { actions } from "astro:actions";

const auth = Astro.locals.auth();
const clerkId = auth?.userId;
const result = await Astro.callAction(actions.util.getTheList, {
  currentUserId: clerkId ?? undefined,
});
---

<div class="container mx-auto p-6 bg-gray-900 text-white rounded-lg shadow-xl">
  <h1 class="text-2xl font-bold mb-4">The List</h1>
  <TheList client:load tableData={result?.data?.tableData ?? []} />
</div>
