---
import { Movies, Ratings as RatingsTable } from "astro:db";
import { db } from "astro:db";

const movies = await db.select().from(Movies);
const ratings = await db.select().from(RatingsTable);
---

<div class="text-white">
  <h2 class="text-4xl font-bold text-center">The List</h2>
  {
    movies.map((movie: any) => (
      <div class="flex justify-between p-4">
        <span>{movie.title}</span>
        <div class="flex justify-center space-x-3">
          {ratings
            .filter((rating: any) => rating.movieId === movie.id)
            .map((rating: any) => (
              <div class="flex justify-center align-middle flex-col">
                <span>{rating.raterName}</span>
                <span>{rating.rating}</span>
              </div>
            ))}
        </div>
      </div>
    ))
  }
</div>
